.main-body {
    margin: 5px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #244afa;
    background: -webkit-linear-gradient(0deg, #244afa 0%, #1f3acb 100%);
    background: linear-gradient(0deg, #244afa 0%, #1f3acb 100%);
    color: white;
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

.navbar-color {
    background-color: #244afa;
}

.title-container {
    margin-top: 5%;
}

.hm-menu, .header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-body__header img {
    max-width: 10%;
    height: 100%;
}

.main-content {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-content__titulo {
    margin-top: 5%;
}

#main-titulo {
    font-size: 10vw;
    background: -webkit-linear-gradient(rgb(26, 71, 218), rgb(18, 51, 199));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(15, 34, 119);
    margin-top: 5%;
}

.titulos {
    margin-top: 12%;
}

h1, p {
    text-align: center;
}

.card-style {
    display: none !important;
    margin: 0px 5px;
}

.main-content__titulo p {
    font-size: 4.5vw;
}

.main-content__registro form {
    display: none;
}

.products-img-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.productos-div__img{
    max-width: 28vw;
}

.productos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}

.productos-img-container {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.productos-container img {
    max-width: 28vw;
}


.bench-container {
    display: none;
}

.api-doc {
    display: flex;
    flex-direction: column;
}

.api-doc img {
    align-self: center;
}

.map-div__img {
    display: flex;
    flex-direction: column;
}

.map-div__img img {
    max-width: 80vw;
    align-self: center;
}

.api-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.api-div__items {
    display: grid;
    list-style: none;
    grid-template-columns: 55% 55%;
    grid-template-rows: 55% 55%;
}

.servicios-texto img {
    max-width: 100%;
}

.servicios-texto h2 {
    text-align: center;
    font-size: large;
}

.server-img {
    display: flex;
    max-width: 76%;
    margin: auto;
}

.tienda-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tienda-container div img {
    max-width: 30%;
}

.app-container {
    margin: 5%;
}

.soporte-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto-input {
    margin: 0.5em 0;
    align-self: center;
    min-width: 15em;
    height: 2em;
    font-family: Roboto, sans-serif;
}

.contacto-nombre {
    display: none;
}

.contacto-text {
    margin: 0.5em 0;
    align-self: center;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: small;
}

#opciones {
    margin: 0.5em 0;
    align-self: center;
    max-width: 15em;
    font-family: Roboto, sans-serif;
}

.soporte-form input[type=submit] {
    align-self: center;
    margin: 0.5em 0;
    font-family: Roboto, sans-serif;
    width: 15em;
    border-color: #092686;
    border-radius: 6%;
    color: white;
    background: transparent;
    background-image: -webkit-linear-gradient(45deg, #10228a 50%, transparent 50%);
    background-image: linear-gradient(45deg, #092686 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.soporte-div-img {
    text-align: center;
}

.soporte-div-img img {
    max-width: 60%;
}

.main-footer {
    color: white;
    margin-top: auto;
    display: flex;
    flex-flow: row nowrap;
    font-size: small;
    background-color: #091244;
    border-top: solid 1.5px rgb(21, 20, 82);
}

.main-footer__rs {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-footer__rs li {
    margin: 0.3em;
}

.main-footer__rs li a img {
    margin-top: 30%;
    max-width: 7vw;
}

@media (min-width: 768px) {

    .main-body {
        margin: 0;
    }

    #main-titulo {
        font-size: 5vw;
        margin: 0;
    }

    .main-content__titulo p {
        font-size: 2vw;
    }

    .main-content__registro form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        margin: 1% 4%;
    }
    
    .registro__text {
        width: 95%;
        height: 2.3em;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        margin-right: 0.7em;
    }
    
    .submit, .soporte_submit, .registro_submit {
        width: 10em;
        height: 2.3em;
        font-family: Roboto, sans-serif;
        font-size: medium;
        border-color: #092686;
        border-radius: 6%;
        color: white;
        background: transparent;
        background-image: -webkit-linear-gradient(45deg, #10228a 50%, transparent 50%);
        background-image: linear-gradient(45deg, #092686 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
      }
      
      .registro__submit {
        height: 2.5em;
      }
      
      .soporte_submit {
        height: 2.4em;
      }
    
    .titulos {
        font-size: 2em;
        font-weight: 600;
        line-height: 2em;
        margin: 0;
    }
    
    .subtitulos {
        font-size: larger;
    }

    .card-style {
        display: flex !important;
    }

    .card {
        border: none !important;
    }

    .card-body h5 {
        margin-left: 30% !important;
    }

    .card-body a {
        margin-left: 33% !important;
    }

    .products-img-div {
        display: flex;
    }

    .products-img-div img {
        max-width: 50%;
        margin: 0 1em;
        align-self: center;
    }


    .map-div__img img {
        max-width: 60%;
    }

    .productos-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto auto;
    }

    .productos-img-container {
        margin: 1em;
    }

    .productos-container img {
        max-width: 40%;
    }

    .bench-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        text-align: center;
    }

    .api-doc {
        text-align: center;
    }

    .serv-container {
        margin: 5%;
    }

    .serv-img {
        max-width: 60%;
    }

    .server-img {
        display: none;
    }

    .tienda-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 30% 30%;
    }

    .contacto-nombre, .contacto-mail {
        height: 90%;
        width: auto;
        display: flex;
      }

    .contacto-text {
        width: 30%;
        max-height: 50%;
    }

    .label-mail {
        font-size: small;
    }

    .soporte-div-img {
        display: flex;
        flex-flow: column nowrap;
    }

    .soporte-div-img p {
        max-width: 40%;
        align-self: center;
    }

    .main-footer {
        font-size: medium;
        flex-flow: row wrap-reverse;
        justify-content: space-between;
    }

    .main-footer__rs {
        flex-wrap: nowrap;
        width: fit-content;
    }

    .main-footer__rs li {
        max-width: 2em;
        margin: 0 0.5em;
    }

    .main-footer__rs li a img {
        width: 2em;
    }

}
/*# sourceMappingURL=estilo2.css.map */
