.main-body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main-body__header {
    height: 3em;
    background: rgb(17,23,87);
    background: linear-gradient(103deg, rgba(17,23,87,1) 0%, rgba(43,52,140,1) 46%, rgba(26,34,124,1) 86%);
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: fit-content;
    color:antiquewhite;
    display: flex;
    flex-flow: row nowrap;
}

.main-nav {
    width: auto;
    display: flex;
    flex-direction: row;
}
    .main-nav__bar {
        margin: 0px;
        display: flex;
        flex-direction: row;
        padding: 5px;
        list-style: none;
    }
        .main-nav__bar li {
            line-height: 10px;
            padding: 10px 10px 0px 10px;
            height: 100%;
        }
            .main-nav__bar li:hover {
                background-color: aliceblue;
            }
                .main-nav__bar li a {
                    text-decoration: none;
                    font-size: medium;
                    font-weight: 500;
                    color: antiquewhite;
                    padding: 0 20px;
                }

.main-content {
    padding-top: 10px;
    text-align: center;
    color: antiquewhite;
    background: rgb(17,23,87);
    background: linear-gradient(103deg, rgba(17,23,87,1) 0%, rgba(43,52,140,1) 46%, rgba(26,34,124,1) 86%);
}

.main-content__titulo h1{
    font-size: 3em;
    margin-bottom: 0;
}

.main-content__titulo p{
    font-size: 1.5em;
}

.main-content__registro .registro__text {
    height: 3em;
    width: 20%;
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    border-radius: 4%;
    border: none;
}

.main-content__registro .registro__submit {
    height: 3em;
    width: 10%;
    background-color: rgb(9, 69, 117);
    color: antiquewhite;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1em;
    border: none;
    border-radius: 4%;
}

.main-content__container div{
    max-width: 70%;
    margin: auto;
}

.productos-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
}

.productos-container img {
    max-width: 65%;
}

.bench-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.tienda-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30%;
}

.tienda-container div img {
    max-width: 30%;
}

.servicios-texto img {
    max-width: 50%;
}



.contacto-input{
    height: 3em;
    width: 20%;
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    border-radius: 4%;
    border: none;
    display: inline;
}

.contacto-text {
    width: 50%;
}

.submit {
    height: 3em;
    width: 10%;
    background-color: rgb(9, 69, 117);
    color: antiquewhite;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1em;
    border: none;
    border-radius: 4%;
}

.soporte-container div img {
    max-width: 40%;
}

.titulos {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0;
}

.subtitulos {
    font-size: 1.3em;
}

.productos-div__img {
    max-width: 10%;
}

.map-div__img img {
    max-width: 50%;
    max-height: 40%;
}

.main-footer {
    color: antiquewhite;
    background: linear-gradient(103deg, rgba(13,91,184,1) 23%, rgba(34,115,219,1) 47%, rgba(34,115,219,1) 88%, rgba(13,91,184,1) 100%); 
    padding: 5px 0px;
    display: flex;
    flex-flow: row wrap-reverse;
}
    .main-footer__rs {
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
        list-style: none;
        max-width: 86%;
    }
        .main-footer__rs li {
            max-width: 5%;
            padding: 0px;
        }
            .main-footer__rs li a img {
                max-width: 30%;
            }
