.main-body {
    margin: 5px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #080E43;
    background-image: url('root\images\wave-vertical.svg');
    color: white;
}


.main-body__header {
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__logo {
    margin-right: auto;
    text-decoration: none;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-body__header img {
    max-width: 10%;
    height: 100%;
}

.main-nav__bar {
    display: none;
}

.main-content {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

#main-titulo {
    font-size: 10vw;
    background: -webkit-linear-gradient(rgb(101, 114, 231), rgb(44, 47, 172));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1, p {
    text-align: center;
}

.main-content__titulo p {
    font-size: 4.5vw;
}

.main-content__registro form {
    display: none;
}


.products-img-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* En un futuro seria un slider en vez de las 3 imagenes juntas */

.productos-div__img{
    max-width: 28vw;
}

.productos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productos-img-container {
    display: flex;
    justify-content: center;
}

.productos-container img {
    max-width: 28vw;
}

/* En un futuro seria un slider para pasar entre texto y texto */

.bench-container {
    display: none;
}

.api-doc {
    display: flex;
    flex-direction: column;
}

.api-doc img {
    align-self: center;
}

.map-div__img {
    display: flex;
    flex-direction: column;
}

.map-div__img img {
    max-width: 80vw;
    align-self: center;
}

.api-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.api-div__items {
    display: grid;
    list-style: none;
    grid-template-columns: 55% 55%;
    grid-template-rows: 55% 55%;
}

.servicios-texto img {
    max-width: 100%;
}

.servicios-texto h2 {
    text-align: center;
    font-size: large;
}

.tienda-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tienda-container div img {
    max-width: 30%;
}

.soporte-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto-input {
    margin: 0.5em 0;
    align-self: center;
    min-width: 15em;
    height: 2em;
    font-family: Roboto, sans-serif;
}

.contacto-text {
    margin: 0.5em 0;
    align-self: center;
    width: 15em;
    font-family: Roboto, sans-serif;
    font-size: small;
}

#opciones {
    margin: 0.5em 0;
    align-self: center;
    max-width: 15em;
    font-family: Roboto, sans-serif;
}

.soporte-form input[type=submit] {
    align-self: center;
    margin: 0.5em 0;
    font-family: Roboto, sans-serif;
    width: 15em;
    border-color: #ffffff;
    border-radius: 6%;
    color: white;
    background: transparent;
    background-image: -webkit-linear-gradient(45deg, #10228a 50%, transparent 50%);
    background-image: linear-gradient(45deg, #092686 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.soporte-div-img {
    text-align: center;
}

.soporte-div-img img {
    max-width: 60%;
}

.main-footer {
    margin-top: auto;
    display: flex;
    flex-flow: row nowrap;
    font-size: small;
}

.main-footer__rs {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-footer__rs li {
    margin: 0.3em;
}

.main-footer__rs li a img {
    max-width: 7vw;
}

@media (min-width: 768px) {

    .main-body {
        margin: 0;
    }

    .main-body__header {
        height: 3em;
        display: flex;
        justify-content: space-between;
        background-color: rgb(26, 35, 122);
        border-bottom: solid 1.5px rgb(109, 107, 226);
    }

    .header__menu {
        display: none;
    }

    .main-nav {
        width: auto;
        display: flex;
        flex-direction: row;
    }

    .main-nav__bar {
        display: flex;
        list-style: none;
        height: 100%;
        margin: 0;
    }

    .main-nav__bar li {
        margin: 0 2em;
        line-height: 10px;
    }
    

    .main-nav__bar li a {
        text-decoration: none;
        font-size: 1em;
        font-weight: 500;
        color: white;
    }

    h1 {
        font-size: xx-large;
    }

    #main-titulo {
        font-size: 5vw;
        margin-bottom: 0;
    }

    .main-content__titulo p {
        font-size: 2vw;
    }

    .main-content__registro form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        margin: 1% 4%;
    }
    
    .registro__text {
        width: 95%;
        height: 2.3em;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        margin-right: 0.7em;
    }
    
    .registro__submit {
        width: 10em;
        height: 2.3em;
        font-family: Roboto, sans-serif;
        font-size: medium;
        border-color: #ffffff;
        border-radius: 6%;
        color: white;
        background: transparent;
        background-image: -webkit-linear-gradient(45deg, #10228a 50%, transparent 50%);
        background-image: linear-gradient(45deg, #092686 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
    }
    .registro__submit:hover {
      background-position: 0;
    }
    
    .titulos {
        font-size: 2em;
        font-weight: 600;
        line-height: 2em;
    }
    
    .subtitulos {
        font-size: larger;
    }

    .products-img-div {
        display: flex;
    }

    .products-img-div img {
        max-width: 15%;
        margin: 0 1em;
    }


    .map-div__img img {
        max-width: 60%;
    }

    .productos-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto auto;
    }

    .productos-img-container {
        margin: 1em;
    }

    .productos-container img {
        max-width: 40%;
    }

    .bench-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        text-align: center;
    }

    .api-doc {
        text-align: center;
    }

    .servicios-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .servicios-texto img {
        align-self: center;
        max-width: 60%;
    }

    .tienda-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 30% 30%;
    }



    .contacto-nombre {
        width: 20vw;
    }
    
    .contacto-mail {

        width: 20vw;
    }

    .contacto-text {
        width: 50vw;
        height: 10em;
    }

    .label-mail {
        font-size: small;
    }

    .soporte-div-img img {
        max-width: 40%;
    }

    .main-footer {
        font-size: medium;
        flex-flow: row wrap-reverse;
        justify-content: space-between;
    }

    .main-footer__rs {
        flex-wrap: nowrap;
        width: fit-content;
    }

    .main-footer__rs li {
        max-width: 2em;
        margin: 0 0.5em;
    }

    .main-footer__rs li a img {
        width: 2em;
    }

}